In [1]:
import os
import datetime
import pandas as pd
import sqlite3

# 일별 좌석점유율

In [6]:
# 일별 좌석점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailySeatTicketList.do
    
NAME = 'findDailySeatTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1&searchType=2"' \
              f' > 일별좌석점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

2015-01-01 ~ 2015-01-07
2015-01-08 ~ 2015-01-14

In [18]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별좌석점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [20]:
connection = sqlite3.connect('seat.db')
df.to_sql('seat_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from seat_daily_propotion', connection)

# 일별 상영점유율

In [22]:
# 일별 상영점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyShowTicketList.do

NAME = 'findDailyShowTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1"' \
              f' > 일별상영점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

2015-01-01 ~ 2015-01-07
2015-01-08 ~ 2015-01-14

In [25]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별상영점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [32]:
connection = sqlite3.connect('show.db')
df.to_sql('show_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from show_daily_propotion', connection)

,순위,영화명,개봉일,상영횟수,상영점유율,매출액,누적매출액,관객수,누적관객수
0,1,국제시장,2014-12-17,4650,45.651%,6129982500,47219550096,751754,6097431
1,2,"님아, 그 강을 건너지 마오",2014-11-27,1979,19.429%,1479015600,31324845079,178941,4025319
2,3,기술자들,2014-12-24,1886,18.516%,1299883700,14952363848,160371,1938454
3,4,개를 훔치는 완벽한 방법,2014-12-31,650,6.381%,299346400,608002300,37741,80633
4,5,상의원,2014-12-24,491,4.82%,230484800,5524209364,28439,705071
5,6,더 테너 리리코 스핀토,2014-12-31,367,3.603%,69620500,200984700,8446,26316
6,7,뽀로로 극장판 눈요정 마을 대모험,None,83,0.815%,27846600,1188395900,5561,237436
7,8,쿼바디스,2014-12-10,19,0.187%,4046900,117029800,509,15399
8,9,그 사람 그 사랑 그 세상,2014-11-20,14,0.137%,9467000,162552500,1202,22070
9,10,목숨,2014-12-04,10,0.098%,1399500,275635600,179,35844
10,11,"제자, 옥한흠",2014-10-30,5,0.049%,687000,356418200,87,48547
11,12,파티51,2014-12-11,4,0.039%,225000,13434800,34,1804
12,12,장군의 아들,1990-06-09,4,0.039%,416000,1446000,208,723
13,12,다이빙벨,2014-10-23,4,0.039%,627000,336231500,79,48571
14,12,카트,2014-11-13,4,0.039%,1720800,5914397433,198,812688
15,16,민우씨 오는 날,None,3,0.029%,87000,3415500,17,695
16,17,빅매치,2014-11-27,2,0.02%,0,8952096578,0,1177438
17,17,두 번째 엄마,2014-12-31,2,0.02%,32000,552000,4,153
18,17,거인,2014-11-13,2,0.02%,156000,175489400,23,23176
19,20,앙상블,2014-12-18,1,0.01%,140000,6045500,16,778
20,20,GROW: 인피니트의 리얼 청춘 라이프,2014-12-04,1,0.01%,54000,189463200,9,23874
21,20,명기,2014-12-30,1,0.01%,9000,647000,1,242
22,20,한여름의 판타지아,2015-06-11,1,0.01%,374600,996100,48,148
23,20,숫호구,2014-08-07,1,0.01%,14000,16270000,2,2105
24,20,자유의 언덕,2014-09-04,1,0.01%,207000,309165827,23,38101
25,20,카토 프로젝트,2014-04-17,1,0.01%,2000,1886000,1,619
26,1,국제시장,2014-12-17,4568,45.621%,3782877729,51002427825,470690,6568121
27,2,"님아, 그 강을 건너지 마오",2014-11-27,1930,19.275%,809774300,32134619379,100585,4125904
28,3,기술자들,2014-12-24,1860,18.576%,758620771,15710984619,95119,2033573
29,4,개를 훔치는 완벽한 방법,2014-12-31,645,6.442%,177849329,785851629,23074,103707
...,...,...,...,...,...,...,...,...,...
362,2,오늘의 연애,2015-01-14,2798,30.252%,1032903000,1099473000,133838,141522
363,3,허삼관,2015-01-14,2684,29.019%,551479100,615567100,73635,81503
364,4,"님아, 그 강을 건너지 마오",2014-11-27,471,5.092%,64991300,36580783379,9090,4696415
365,5,기술자들,2014-12-24,237,2.562%,28781000,19736744683,3760,2544717
366,6,워킹걸,2015-01-07,95,1.027%,9121500,1085098979,1186,134144
367,7,개를 훔치는 완벽한 방법,2014-12-31,36,0.389%,9173700,1684918765,1337,221805
368,8,쿼바디스,2014-12-10,17,0.184%,1364400,141777300,219,18836
369,9,뽀로로 극장판 눈요정 마을 대모험,None,11,0.119%,721000,1269500700,167,254045
370,10,설해,2015-01-08,10,0.108%,183000,27419500,23,3653
371,11,목숨,2014-12-04,8,0.086%,466000,283397600,64,36867
372,12,그 사람 그 사랑 그 세상,2014-11-20,6,0.065%,176000,186986500,27,25215
373,12,상의원,2014-12-24,6,0.065%,504000,6198263964,72,789628
374,14,순천,2014-09-04,5,0.054%,10000,22832200,5,3610
375,14,더 테너 리리코 스핀토,2014-12-31,5,0.054%,2859000,375039941,387,48526
376,16,파티51,2014-12-11,4,0.043%,210000,15143800,29,2037
377,17,고양이 장례식,2015-01-15,2,0.022%,1533000,11512600,175,1420
378,17,카토 프로젝트,2014-04-17,2,0.022%,4000,1918000,2,635
379,19,악사들,2014-12-04,1,0.011%,12000,7733200,2,1372
380,19,두 번째 엄마,2014-12-31,1,0.011%,14000,1010000,2,239
381,19,"제자, 옥한흠",2014-10-30,1,0.011%,40000,359310200,5,48904
382,19,숫호구,2014-08-07,1,0.011%,22000,16348000,4,2117
383,19,카트,2014-11-13,1,0.011%,236000,5924979433,30,813982
384,19,레드 툼,2015-07-09,1,0.011%,35000,1257000,7,230
385,19,족구왕,2014-08-21,1,0.011%,40000,359459000,5,45666
386,19,못,2014-11-20,1,0.011%,10000,16941600,2,2368
387,19,앙상블,2014-12-18,1,0.011%,34000,6939500,6,900
388,19,독립영화발표회(251회) - 박영석 프로그래머 추천전,None,1,0.011%,0,0,0,0
389,19,자유의 언덕,2014-09-04,1,0.011%,48000,310619827,6,38286
390,19,춘하추동 로맨스,2014-12-04,1,0.011%,21000,8119800,3,1200
391,19,다이빙벨,2014-10-23,1,0.011%,96000,341616500,12,49300

# 일별 스크린점유율

In [36]:
# 일별 스크린점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyScreenTicketList.do
NAME = 'findDailyScreenTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

while date < datetime.date(2015, 1, 15): # 테스트용
# while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1"' \
              f' > 일별스크린점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

2015-01-01 ~ 2015-01-07
2015-01-08 ~ 2015-01-14

In [37]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

while date < datetime.date(2015, 1, 15): # 테스트용
# while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별스크린점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [40]:
connection = sqlite3.connect('screen.db')
df.to_sql('show_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from show_daily_propotion', connection)

,순위,영화명,개봉일,스크린수,스크린점유율,매출액,누적매출액,관객수,누적관객수
0,1,국제시장,2014-12-17,941,35.8%,6129982500,47219550096,751754,6097431
1,2,"님아, 그 강을 건너지 마오",2014-11-27,473,18.0%,1479015600,31324845079,178941,4025319
2,3,기술자들,2014-12-24,464,17.7%,1299883700,14952363848,160371,1938454
3,4,상의원,2014-12-24,258,9.8%,230484800,5524209364,28439,705071
4,5,개를 훔치는 완벽한 방법,2014-12-31,196,7.5%,299346400,608002300,37741,80633
5,6,더 테너 리리코 스핀토,2014-12-31,169,6.4%,69620500,200984700,8446,26316
6,7,뽀로로 극장판 눈요정 마을 대모험,None,66,2.5%,27846600,1188395900,5561,237436
7,8,쿼바디스,2014-12-10,12,0.5%,4046900,117029800,509,15399
8,9,목숨,2014-12-04,10,0.4%,1399500,275635600,179,35844
9,10,그 사람 그 사랑 그 세상,2014-11-20,7,0.3%,9467000,162552500,1202,22070
10,11,파티51,2014-12-11,4,0.2%,225000,13434800,34,1804
11,11,다이빙벨,2014-10-23,4,0.2%,627000,336231500,79,48571
12,13,카트,2014-11-13,3,0.1%,1720800,5914397433,198,812688
13,13,민우씨 오는 날,None,3,0.1%,87000,3415500,17,695
14,13,"제자, 옥한흠",2014-10-30,3,0.1%,687000,356418200,87,48547
15,16,빅매치,2014-11-27,2,0.1%,0,8952096578,0,1177438
16,16,거인,2014-11-13,2,0.1%,156000,175489400,23,23176
17,16,두 번째 엄마,2014-12-31,2,0.1%,32000,552000,4,153
18,19,명기,2014-12-30,1,0.0%,9000,647000,1,242
19,19,GROW: 인피니트의 리얼 청춘 라이프,2014-12-04,1,0.0%,54000,189463200,9,23874
20,19,장군의 아들,1990-06-09,1,0.0%,416000,1446000,208,723
21,19,앙상블,2014-12-18,1,0.0%,140000,6045500,16,778
22,19,숫호구,2014-08-07,1,0.0%,14000,16270000,2,2105
23,19,카토 프로젝트,2014-04-17,1,0.0%,2000,1886000,1,619
24,19,자유의 언덕,2014-09-04,1,0.0%,207000,309165827,23,38101
25,19,한여름의 판타지아,2015-06-11,1,0.0%,374600,996100,48,148
26,1,국제시장,2014-12-17,930,35.5%,3782877729,51002427825,470690,6568121
27,2,기술자들,2014-12-24,481,18.4%,758620771,15710984619,95119,2033573
28,3,"님아, 그 강을 건너지 마오",2014-11-27,471,18.0%,809774300,32134619379,100585,4125904
29,4,상의원,2014-12-24,264,10.1%,149272900,5673482264,18455,723526
...,...,...,...,...,...,...,...,...,...
362,2,허삼관,2015-01-14,584,24.9%,551479100,615567100,73635,81503
363,3,오늘의 연애,2015-01-14,577,24.6%,1032903000,1099473000,133838,141522
364,4,"님아, 그 강을 건너지 마오",2014-11-27,264,11.3%,64991300,36580783379,9090,4696415
365,5,기술자들,2014-12-24,146,6.2%,28781000,19736744683,3760,2544717
366,6,워킹걸,2015-01-07,56,2.4%,9121500,1085098979,1186,134144
367,7,개를 훔치는 완벽한 방법,2014-12-31,23,1.0%,9173700,1684918765,1337,221805
368,8,쿼바디스,2014-12-10,12,0.5%,1364400,141777300,219,18836
369,9,목숨,2014-12-04,8,0.3%,466000,283397600,64,36867
370,9,설해,2015-01-08,8,0.3%,183000,27419500,23,3653
371,11,상의원,2014-12-24,5,0.2%,504000,6198263964,72,789628
372,11,더 테너 리리코 스핀토,2014-12-31,5,0.2%,2859000,375039941,387,48526
373,11,뽀로로 극장판 눈요정 마을 대모험,None,5,0.2%,721000,1269500700,167,254045
374,14,파티51,2014-12-11,4,0.2%,210000,15143800,29,2037
375,15,그 사람 그 사랑 그 세상,2014-11-20,3,0.1%,176000,186986500,27,25215
376,16,고양이 장례식,2015-01-15,2,0.1%,1533000,11512600,175,1420
377,17,춘하추동 로맨스,2014-12-04,1,0.0%,21000,8119800,3,1200
378,17,숫호구,2014-08-07,1,0.0%,22000,16348000,4,2117
379,17,악사들,2014-12-04,1,0.0%,12000,7733200,2,1372
380,17,카토 프로젝트,2014-04-17,1,0.0%,4000,1918000,2,635
381,17,두 번째 엄마,2014-12-31,1,0.0%,14000,1010000,2,239
382,17,"제자, 옥한흠",2014-10-30,1,0.0%,40000,359310200,5,48904
383,17,다이빙벨,2014-10-23,1,0.0%,96000,341616500,12,49300
384,17,카트,2014-11-13,1,0.0%,236000,5924979433,30,813982
385,17,레드 툼,2015-07-09,1,0.0%,35000,1257000,7,230
386,17,순천,2014-09-04,1,0.0%,10000,22832200,5,3610
387,17,족구왕,2014-08-21,1,0.0%,40000,359459000,5,45666
388,17,못,2014-11-20,1,0.0%,10000,16941600,2,2368
389,17,앙상블,2014-12-18,1,0.0%,34000,6939500,6,900
390,17,독립영화발표회(251회) - 박영석 프로그래머 추천전,None,1,0.0%,0,0,0,0
391,17,자유의 언덕,2014-09-04,1,0.0%,48000,310619827,6,38286

# 상영내역

In [2]:
# 상영내역 http://www.kobis.or.kr/kobis/business/mast/thea/findShowHistorySc.do

URL = f'http://www.kobis.or.kr/kobis/business/mast/thea/findShowHistoryScXls.do'

theater = pd.read_csv('theaters_191128.csv')['영화상영관명']
len(theater)

553

In [7]:
theater[theater=='합천시네마']

64    합천시네마
Name: 영화상영관명, dtype: object

작업량 분배

In [ ]:
# 우주
for i in theater[64:164]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
i

In [ ]:
# 민주
# for i in theater[164:264]:
for i in theater[172:264]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 다영
for i in theater[264:364]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 한슬
for i in theater[364:464]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 재민
for i in theater[464:]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')